$foreground-color: #ddd;

.y-axis {
  width: 50px;

  .y-axis-axis {
    path,
    line {
      fill: none;
      stroke: $foreground-color;
      shape-rendering: crispEdges;
    }
    text {
      font-family: sans-serif;
      font-size: 11px;
      fill: #ddd;
    }
  }
}
