.theoretical-phase-window {

  .theoretical-phase-window-selection {
    bottom: 20%;
    opacity: 0.35;
    position: absolute;
    top: 55%;
  }

  .theoretical-phase-window-label {
    position: absolute;
    bottom: 5%;
    font-size: 65%;
    text-align: center;
  }
}