<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="MyApp" packages="">
  <Appenders>
    <RollingFile name="RollingFile" fileName="shared-volume/logs/DataframeParser.log"
      filePattern="shared-volume/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="Console"/>
    </Root>

  </Loggers>
</Configuration>
